{% extends 'base.html.twig' %}

{% block title %}Custodian Dashboard{% endblock %}

{% block content %}
    <h1 class="font-weight-light">Custodian dashboard</h1>
    {% if complaints|length > 0 %}
        <div class="alert alert-danger">
            <p>
                There {{ complaints|length > 1 ? 'are': 'is' }} {{ complaints|length }} {{ complaints|length > 1 ? 'complaints' : 'complaint' }} against you:
            </p>
            {% set counter = 1 %}
            {% for complaint in complaints %}
                <div>
                    {{ counter }}. {{ complaint.reason }}
                </div><br>
                {% set counter = counter + 1 %}
            {% endfor %}
        </div>
    {% endif %}
    <h1 class="font-weight-light">List of tickets</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <table class="table">
        <caption>Tickets</caption>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Number Of Votes</th>
            <th scope="col">Description</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        {% set ticket_counter = 1 %}
        {% for ticket in tickets %}
            <tr scope="row">
                <td>{{ ticket_counter }}</td>
                <td>{{ ticket.numberOfVotes|e }}</td>
                <td>{{ ticket.description|e }}</td>
                <td>
                    <a href="{{ url('delete_ticket', {'ticketId': ticket.id}) }}">
                        <button class="btn btn-outline-danger">Delete ticket</button>
                    </a>
                </td>
                <td>
                    <a href="{{ url('upvote_ticket', {'ticketId': ticket.id}) }}">
                        <button class="btn btn-outline-dark">Upvote ticket</button>
                    </a>
                </td>
            </tr>
            {% set ticket_counter = ticket_counter + 1 %}
        {% endfor %}
    </table>
    <div>
        <a href="{{ url('generate_pdf', {'route': path(app.request.attributes.get('_route'))}) }}">
            <button class="btn btn-outline-primary">Generate PDF</button>
        </a>
    </div>
{% endblock %}
