{% extends 'base.html.twig' %}

{% block title %}Administrator Dashboard{% endblock %}

{% block content %}
    <h1>List of Users</h1>
    <table>
        <caption>Moderators</caption>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
        {% for mod in moderators %}
            <tr>
                <td>{{ mod.id|e }}</td>
                <td>{{ mod.email|e }}</td>
                <td>
                    <form action="{{ url('login') }}">
                        <input type="submit" value="Delete user">
                        <input type="hidden" name="userId" value="{{ mod.id }}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <table>
        <caption>Custodians</caption>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
        {% for cus in custodians %}
            <tr>
                <td>{{ cus.id|e }}</td>
                <td>{{ cus.email|e }}</td>
                <td>
                    <form action="{{ url('login') }}">
                        <input type="submit" value="Delete user">
                        <input type="hidden" name="userId" value="{{ cus.id }}">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url('register') }}"><button>Create new user</button></a>
    {% if userId %}
        User with id {{ userId }} deleted.
    {% endif %}
{% endblock %}
