{% extends 'base.html.twig' %}

{% block title %}Administrator Dashboard{% endblock %}

{% block content %}
    <h1>List of Users</h1>
    <table>
        <caption>Moderators</caption>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
        {% for mod in moderators %}
            <tr>
                <td>{{ mod.id|e }}</td>
                <td>{{ mod.email|e }}</td>
                <td>
                    <a href="{{ url('delete_user', {'userId': mod.id}) }}">
                        <button>Delete user</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <table>
        <caption>Custodians</caption>
        <tr>
            <th>Id</th>
            <th>Email</th>
        </tr>
        {% for cus in custodians %}
            <tr>
                <td>{{ cus.id|e }}</td>
                <td>{{ cus.email|e }}</td>
                <td>
                    <a href="{{ url('delete_user', {'userId': cus.id}) }}">
                        <button>Delete user</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <a href="{{ url('register') }}">
        <button>Create new user</button>
    </a>
    <div>
        {% if created_user %}
            User {{ created_user }} created.
        {% endif %}
    </div>
{% endblock %}
