{% extends 'base.html.twig' %}

{% block title %}Administrator Dashboard{% endblock %}

{% block content %}
    <h1 class="font-weight-light">Administrator dashboard</h1>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% if personal_complaints|length > 0 %}
        <div class="alert alert-danger">
            <p>
                There {{ personal_complaints|length > 1 ? 'are': 'is' }} {{ personal_complaints|length }}
                {{ personal_complaints|length > 1 ? 'complaints' : 'complaint' }} against you:
            </p>
            {% set counter = 1 %}
            {% for complaint in personal_complaints %}
                <div>
                    {{ counter }}. {{ complaint.reason }}
                </div><br>
                {% set counter = counter + 1 %}
            {% endfor %}
        </div>
    {% endif %}



    {% if all_complaints|length > 0 %}
        <h2 class="font-weight-light">List of users with complaints</h2>
        <table class="table">
            <caption>Users with complaints</caption>
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">User email</th>
                <th scope="col">Reason for complaint</th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            {% set counter = 1 %}
            {% for complaint in all_complaints %}
                <tr>
                    <th scope="row">{{ counter }}.</th>
                    <td>{{ complaint.user.email }}</td>
                    <td>{{ complaint.reason }}</td>
                    <td>
                        <a href="{{ url('delete_complaint', {'complaintId': complaint.id}) }}">
                            <button class="btn btn-outline-danger">Delete complaint</button>
                        </a>
                    </td>
                    <td>
                        <a href="{{ url('delete_user', {'userId': complaint.user.id}) }}">
                            <button class="btn btn-outline-danger">Delete user</button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <h2 class="font-weight-light">List of Users</h2>
    <table class="table">
        <caption>Moderators</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set mod_counter = 1 %}
        {% for mod in moderators %}
            <tr>
                <th scope="row">{{ mod_counter }}.</th>
                <td>{{ mod.email|e }}</td>
                <td>
                    <a href="{{ url('delete_user', {'userId': mod.id}) }}">
                        <button class="btn btn-outline-danger">Delete user</button>
                    </a>
                </td>
            </tr>
            {% set mod_counter = mod_counter + 1 %}
        {% endfor %}
        </tbody>
    </table>
    <table class="table">
        <caption>Custodians</caption>
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Email</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% set cus_counter = 1 %}
        {% for cus in custodians %}
            <tr>
                <th scope="row">{{ cus_counter }}.</th>
                <td>{{ cus.email|e }}</td>
                <td>
                    <a href="{{ url('delete_user', {'userId': cus.id}) }}">
                        <button class="btn btn-outline-danger">Delete user</button>
                    </a>
                </td>
            </tr>
            {% set cus_counter = cus_counter + 1 %}
        {% endfor %}
        </tbody>
    </table>
    <div>
        <a href="{{ url('register_user') }}">
            <button class="btn btn-outline-primary">Create new user</button>
        </a>
    </div><br>
    <div>
        <a href="{{ url('generate_pdf', {'route': path(app.request.attributes.get('_route'))}) }}">
            <button class="btn btn-outline-primary">Generate PDF</button>
        </a>
    </div>
{% endblock %}
